.container{
    border-color: red;
    border-style: dotted;
}
.container-fluid{
    border-color: purple;
    border-style: dotted;
}
.col{
    border-color: blue;
    border-style: dashed;
}
.col-1, .col-2, .col-3, .col-4, .col-9{

}